/* the page general setting*/
* {
    box-sizing: border-box;
}
body {
    margin:0;
}
/*header area*/
h1 {
    margin: 0;
    padding: 35px;
    background-color: #2d3945;
    color:white;
    text-transform: uppercase;
}

h1,
.top-info {
    text-align: center;    
}

.top-info {
    border-bottom: solid 5px #2d3945;
    margin: 0 25px;
}
.top-info h2 {
    margin-bottom: 0;
}
.top-info h2 {
    color: #2d3945;
}
/*the form*/
legend {
    font-size: 700;
    font-weight: bold;
}

fieldset {
    border: none;
}
input {
    border:none;
    margin: 10px 0;
    padding: 15px 90px;
    border-radius: 5px;
    background-color: #eff0f1;
}
textarea {
    background-color: #eff0f1;
    border:none;
    margin: 10px 15px;
    padding: 80px;
    border-radius: 5px;
}
input:focus {
    border: #46698b solid;
}
button {
    border: none;
    background-color: #4ebbb5;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 20px 120px;
    margin: 10px 14px;
    border-radius: 5px;
}
.text_area {
    margin: 15px;
}
input[type="checkbox"],
input[type="radio"],
.letter_type,
.letter_format{
    margin: 7px 14px;
}
.newsletter{
    margin: 0 14px;
    border-top: solid 3px;
    border-color: #2d3945;
    padding:20px 0;
}
footer{
    text-align: center;
}