* {
    box-sizing: border-box;
}
body {
    margin:0;
}

h1 {
    margin-top: 0;
    padding: 35px;
    background-color: darkblue;
    color:white;
    text-align: center;
    text-transform: uppercase;
}
