/* the page general setting*/
* {
    box-sizing: border-box;
}
body {
    margin:0;
}
/*header area*/
h1 {
    margin: 0;
    padding: 35px;
    background-color: darkblue;
    color:white;
    text-transform: uppercase;
}

h1,
.top-info {
    text-align: center;    
}

.top-info {
    border-bottom: solid 5px;
    margin: 0 25px;
}
.top-info h2 {
    margin-bottom: 0;
}
/*the form*/
legend {
    font-size: 500;
    font-weight: bold;
}
fieldset {
    border: none;
}
input {
    border:none;
    margin: 10px 0;
    padding: 15px 90px;
    border-radius: 5px;
    background-color: lightgray;
}
textarea {
    background-color: lightgray;
    border:none;
    margin: 10px 15px;
    padding: 80px;
    border-radius: 5px;
}
button {
    border: none;
    background-color: aquamarine;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 20px 120px;
    margin: 10px 14px;
    border-radius: 5px;
}
.text_area,
input[type="checkbox"],
input[type="radio"]{
    margin: 0 14px;
}
footer{
    text-align: center;
}