/* the page general setting*/
* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: #f9f4ef;
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
/*header area*/
h1 {
    margin-top: 0;
    padding: 35px;
    background-color:#020826;
    color:#eaddcf;
    text-transform:uppercase;
}

h1,
.top-info {
    text-align: center;    
}

.top-info {
    margin: 0 14px 5px 0;
}
.top-info h2 {
    margin-bottom: 0;
    width: 100%;
    color: #716040;
}
/*the form*/
form {
    display:flex;
    flex-direction: column;
}
legend {
    font-size: 700;
    font-weight: bold;
}
.contact {
    border-top: solid 3px #020826;
    margin: 10px 0;
    width: 100%;
    padding: 20px 0;
}
fieldset {
    border: none;
}
input[type="text"] {
    width:100%;
    height: 30px;
    border:none;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #eaddcf;
}

input::placeholder {
    text-align: end;
    font-style: italic;
    padding-right: 5px;
    color:#020826;
}

textarea {
    background-color:#eaddcf;
    width: 100%;
    height: 130px;
    border:none;
    margin: 20px 0;
    border-radius: 5px;
}
select {
    width:100%;
    height: 30px;
    border:none;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #eaddcf;
}
#zipcode {
    width:50%;
    height: 30px;
}
input:focus,
textarea:focus, 
#state:focus  {
    outline: 0;
    border: #020826 dashed;
}

.light {
    margin: 10px;
}
.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 14px;
}
button {
    border: none;
    background-color: #8c7851;
    color: #f2f7f5;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 100%;
    height: 65px;
    border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"]{
    margin: 10px 0;
}
.newsletter{
    width: 100%;
    border-top: solid 3px #020826;
    padding:20px 0 0 0;
}
.text_area,
.letter_type,
.letter_format{
    margin:0;
    padding: 10px 0 0 0;
}
.copyright{
    text-align: center;
    font-style: italic;
    margin: 20px 0 100px 0;
}

/* media queries*/
@media (min-width:768px){
    form {
        margin: auto;
        width: 500px;
   }
   .container{
       display:flex;
       justify-content: flex-start;
       flex-direction: column;
       margin: auto;
   }
   .flex-item-1 {
       display:flex;
       flex-direction: row;
       justify-content: flex-start;
       width: 100%;
       
   }
   .flex-item-1 > label {
       flex: 1 30px;
       margin-top: 10px;
       
   }
   .flex-item-1 >input,
   .flex-item-1 >select {
       flex: 2 30px;
   }
   .zipcode {
       display: inline-flex;
       margin-top: 10px;
   }
   #zipcode {
       margin: 0;
       width: 25%;
   }
   .zipcode > label {
       width: 167.328px;
   }
    .end {
        margin: 0 162px;
    }
  

    
}