* {
    box-sizing: border-box;
}
body {
    margin:0;
}

h1 {
    margin: 0;
    padding: 35px;
    background-color: darkblue;
    color:white;
    text-transform: uppercase;
}

h1,
.top-info {
    text-align: center;    
}

.top-info {
    padding: 0 25px;
}
.top-info h2 {
    margin-bottom: 0;
}

